<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:qcom="http://com.qualcomm.isrm.jsf/facelets"
	>

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<ui:define name="content">
		<h:form>
			<qcom:userheader dispname="#{loginBean.name}"></qcom:userheader>
			<ui:fragment rendered="#{loginBean.isadmin}">
			    <p> you are an admin!</p>
			</ui:fragment>
			<h:panelGrid columns="2">
				<h:outputText value="Update Login Name"></h:outputText>
				<h:inputText value="#{loginBean.name}"></h:inputText>
			</h:panelGrid>
			<h:commandButton value="Update" action="update"></h:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
</html>